.red-border {  
  border: 2px solid red;  
  padding: 10px;  
}  
  
.blue-border {  
  border: 2px solid blue;  
  padding: 10px;  
}  
  
.green-border {  
  border: 2px solid green;  
  padding: 10px;  
}  
  
.yellow-border {  
  border: 2px solid yellow;  
  padding: 10px;  
}  


  
